<h1>MOVIE RESULTS</h1>

<ul>
    <% for(let i = 0; i < parsedDataEjs.length; i++){ %>

        <li>
            <%= parsedDataEjs[i]["Title"] %>
        </li>

        <% } %>

</ul>

<a href="/"> Search Again</a>